
header{
  text-align:center;
}
text{color:rgb(240, 235, 235)}
h1{text-align:center;
    color:rgb(128, 207, 118)}
body {
    display: flex;
    flex-direction: column;
    flex-grow: calc();
    /* width: 600px; */
    margin: 0;
    min-height: 100vh;
    background-image: url('bluedot.jpg');
    /* background-color #4273fa; */
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(206, 218, 102);
    color: rgb(158, 9, 245)
  }
div{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100px; */
  margin: 5px auto;
  background-color: #c7dfff;
  padding: 10px 10px 10px 10px;
  border: 5px solid rgb(255, 255, 255);
}
p {
  display: flex;
  flex-direction: column;

}

img {
  size:75%;
  display: block;
  margin-left: auto;
  margin-right: auto;


}
  
footer{
  color:azure
}