{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css">
    <link rel="stylesheet" href="{% static 'issues_environment/styling.css' %}">
    <title>Global Environment</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body id="grad1">
    <header>
        <h1>Global Environmental Issues</h1>
    </header>
    <div id="app">

        <div>
            <form @submit.prevent="getInfo">
                {% csrf_token %}
                <label for='searchEntry'> Please enter country name for list of environmental issues:
                    <input v-model="searchEntry" type="text" id="searchEntry">
                    <button type="submit" id="enter" @click="getInfo">search</button>
                    <li v-for="country in countryIssueInfo"> [[country.name]], [[country.issues]] </li>
                    
                    
            </form>
        </div>
        <div>
            <img src="{% static 'issues_environment\worldmap.jpg' %}" alt="my image">
        </div>

        <div>

            <p>
                Intro:
                The Global Environment is a website to help any interested person easily identify environmental issues
                around the world or environemental issues in any given country.
            </p>

            <p>
                Resources:
                This project would not be possible without https://github.com/factbook and the CIA Worldfactbook.
            </p>


            <br>

        </div>


    </div>
    <footer>
        <p>
            Created by: <tab></tab> V. Chacon for PDX Code Guild<tab>2022</tab>
        </p>

    </footer>
    <script type="application/javascript" src="{% static 'issues_environment/script.js' %}"></script>
</body>

</html>