<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'issues_environment/styling.css' %}">
    <title>Global Environment</title>
</head>
<header>
    <h1>Global Environment</h1>
</header>

<body>
    <div>
        <form id="input">
            <input type="text">
            <button type="submit">search</button>
        </form>
    </div>
    <div>
        {% load static%}
        <img src="{% static 'issues_environment\worldmap.jpg' %}" alt="my image">
    </div>

    <div>

            <p>
                Intro: 
                    The Global Environment is a website to help any interested person easily identify environmental issues around the world or environemental issues in any given country.
            </p>
        
            <p>
                Resources: 
                    This project would not be possible without https://github.com/factbook and the CIA Worldfactbook.
            </p>

        
        <br>

    </div>



</body>
<footer>
    <p>
        Created By: V. Chacon for PDX Code Guild
    </p>

</footer>

</html>